<nav class="navbar">
  <div class="logo">
    <a routerLink="/">DonateChain</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/donate">Donate</a></li>
    <li><a routerLink="/details">Details</a></li>
    <li><a routerLink="/test">Test</a></li>
  </ul>
  <div class="user-actions">
    <div class="profile-dropdown">
      <button (click)="toggleDropdown()" class="button">
        <img alt="Avatar" class="avatar-small" height="1024" ngSrc="/images/avatar1.webp" width="1024"/>
        {{ userName }}
      </button>
      <div (click)="closeDropdown()" *ngIf="dropdownVisible" class="dropdown-menu">
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <a class="dropdown-item" routerLink="/admin">Admin</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
</nav>
