<div class="container">
  <h1>Sign Up</h1>
  <p>Create an account to join as a donor.</p>

  <form (ngSubmit)="signUp()">
    <label for="donorName">Name:</label>
    <input
      [(ngModel)]="donorName"
      id="donorName"
      name="donorName"
      placeholder="Enter your name"
      required
      type="text"
    />

    <label for="donorLevel">Enter Donor Address:</label>
    <input [(ngModel)]="donorAddress" id="donorLevel" name="donorLevel">

    <button class="button" type="submit">Sign Up</button>
  </form>

  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
